.mainContainer {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.mainContainer h2 {
  color: #333;
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
}

.topButtons {
  display: flex;
  justify-content: left;
  gap: 0.6rem;
  margin-bottom: 2rem;
}

.topButtons button {
  padding: 0.4rem 1rem;
  font-size: 0.9rem;
  border: 1px solid #ddd;
  background: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.topButtons button.active {
  background: #F1E9D6;
  border-color: #ddd;
  color: #333;
  border: 2px solid;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1.5rem;
  cursor: pointer;
  transition: 0.2s;
}

.card:hover {
  border-color: #ccc;
}

.cardSelected {
  background: #F1E9D6;
  border-color: #d6cdb5;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.topButtons {
  display: flex;
  gap: 0.6rem;
}

.addButton {
  padding: 0.4rem 1rem;
  font-size: 0.9rem;
  border: 1px solid #ddd;
  background: #F1E9D6;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.addButton:hover {
  background: #e8dfc9;
  border-color: #ccc;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}

.modal {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

/* INPUTS */
.modal input,
.modal textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.modal textarea {
  resize: none;
  height: 80px;
}

.rowInputs {
  display: flex;
  gap: 0.5rem;
}

.ingredientes {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.ingredienteRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.ingredienteNome {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.inputGroupSmall {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0 0.4rem;
  min-width: 80px;
}

.inputGroupSmall input {
  border: none;
  outline: none;
  width: 50px;
  padding: 0.4rem;
}

.inputGroupSmall span {
  font-size: 0.8rem;
  color: #555;
}

.modalActions {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.saveButton {
  background: #F1E9D6;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
}

